.user-edit-ctn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.user-edit{
    width: 1200px;
    height: 850px;
    border: 1px solid #dfdfdf;
    display: flex;
    flex-direction: row;
}
.user-edit-menu{
    height: 100%;
    width: 230px;
    border-right: 1px solid #dfdfdf;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user-edit-profile-img{
    width: 150px;
    height: 150px;
    border-radius: 100px;
    border: 1px solid #dfdfdf;
    margin-top: 15px;
}
.user-edit-profile-img > img{
    width: 100%;
    height: 100%;
    border-radius: 100px;
}
.user-edit-profile-name{
    width: 100%;
    height: 50px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.user-edit-profile-name > span{
    font-family: 'Roboto', sans-serif;
    color: #111;
    font-weight: 700;
    width: 160px;
    text-align: center;
    font-size: 16px;
}
.user-edit-menu-option{
    height: 30px;
    width: 100%;
    margin-top: 15px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    text-decoration: none;
}
.user-edit-menu-option > span{
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    color: #2d7697;
}
.user-edit-menu-option:hover{
    background-color: #e8e8e8;
    cursor: pointer;
}
.user-edit-content{
    height: 100%;
    width: 970px;
    overflow: auto;
}
.user-edit-description{
    width: 100%;
    height: 90px;
    border-bottom: 1px solid #dfdfdf;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.user-edit-description > span:nth-of-type(1){
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 700;
}
.user-edit-description > span:nth-of-type(2){
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
}
.user-edit-form-ctn{
    width: 100%;
    height: 710px;
}
.user-edit-form-wrapper{
    border-bottom: 1px solid #dfdfdf;
    padding: 20px;
}