.banner-ctn{
    width: 1300px;
    background-color: #f8f9fa;
    padding: 30px;
}
.banner{
    background-color: #fff;
    border-radius: 4px;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
}