.cart-ctn{
    height: 478px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
.cart{
    width: 1141px;
    height: 100%;
}
.cart-header{
    height: 53px;
    width: 100%;
}
.cart-header > span{
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 800;
    color: #232323;
    text-transform: uppercase;
}
.cart-products{
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    width: 100%;
}
.cart-products-thead{
    height: 56px;
    background-color: #f8f8f8;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
}
.cart-products-tbody > tr{
    height: 100px;
    border: 1px solid #e8e8e8;
}
.cart-products-tbody > tr > td{
    width: 120px;
}
.cart-delete{
    width: 85px;
    height: 32px;
    border: 1px solid #f30000;
    border-radius: 4px;
    background-color: transparent;
    color: #f30000;
}
.cart-delete > i{
    margin-right: 4px;
}
.cart-totals-ctn{
    height: 576px;
    width: 100%;
    margin-top: 75px;
    display: flex;
    justify-content: center;
    margin-bottom: 98px;
}
.cart-totals-wrapper{
    width: 1141px;
    height: 100%;
    position: relative;
}
.cart-totals{
    height: 100%;
    width: 570px;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
}
.cart-totals > span{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: #222;
}
.cart-totals-table-ctn{
    height: 446px;
    width: 100%;
    border: 1px solid #e8e8e8;
    margin-top: 20px;
    border-radius: 3px;
}
.cart-totals-table{
    width: 100%;
}
.cart-totals-thead{
    height: 54px;
    border-bottom: 1px solid #e8e8e8;
    width: 100%;
}
.cart-totals-tbody{
    height: 338px;
}
#cartButton{
    height: 60px;
    width: 100%;
    border-radius: 2px;
    background-color: #408de4;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
    border: none;
    margin-top: 25px;
}