.product-list-ctn{
    width: 1300px;
    background-color: #f8f9fa;
    padding: 30px;
}
.product-list-ctn > h2{
    margin-bottom: 20px;
}
.product-list{
    background-color: #fff;
    border-radius: 4px;
    padding-bottom: 10px;
}
.product-list-header{
    height: 85px;
    border-bottom: 1px solid #cfdbe6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}
.product-list-search{
    display: flex;
}
.product-list-header > input{
    width: 400px;
    height: 40px;
}
.product-list-options-ctn{
    height: 50px;
    display: flex;
}
.product-list-options-ctn > select{
    border: 1px solid #cfdbe6;
    width: 236px;
    margin-left: 16px;
    border-radius: 4px;
    padding-left: 15px;
    padding-right: 15px;
    height: 40px;
}
.product-list-body{
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    row-gap: 15px;
}
.product-list-element{
    width: 287px;
    border: 1px solid #cfdbe6;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 17px;
}
.product-list-element-image{
    max-height: 200px;
    /*the need for adding this max-width is odd*/
    max-width: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-list-element-image > img{
    height: 100%;
}
.product-list-element-options{
    width: 251px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 15px;
    height: 100%;
}
.product-list-element-options > button{
    display: inline-block;
    text-decoration: none;
    width: 110px;
    height: 32px;
    border: 1px solid #dadcde;
    border-radius: 4px;
    background-color: transparent;
    display: flex;
    align-items: center;
    color: #6c757d;
}
.product-list-element-options > button > i{
    margin-right: 10px;
    margin-left: 10px;
}
.product-list-element-options > span:nth-of-type(1){
    color: #6c757d;
    text-align: justify;
}
.product-list-element-options > span:nth-of-type(2){
    color: #000;
    font-weight: 600;
    margin-bottom: 10px;
}
.product-list-element-input{
    margin-bottom: 15px;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.product-list-element-input > a{
    display: inline-block;
    text-decoration: none;
    width: 80px;
    height: 32px;
    border: 1px solid #dadcde;
    border-radius: 4px;
    background-color: transparent;
    margin-right: 10px;
    padding-left: 10px;
    padding-top: 2px;
}
.product-list-element-input > a > i{
    color: rgb(173,181,189);
    margin-right: 4px;
}
.product-list-element-input > button{
    width: 85px;
    height: 32px;
    border: 1px solid #f30000;
    border-radius: 4px;
    background-color: transparent;
    color: #f30000;
}
.product-list-element-input > button > i{
    margin-right: 4px;
}